extends template/main
append vars
	-
		page_title = 'Practice Schedule'
block content
	main
		include ../img/sprite.svg
		section.test
			.section
				.section-header
					h1.title Create your practice schedule
					button.button-white
						span Exit creating your schedule
			.section.row
				.block.test-block
					.test-header
						h3.block-title.test-title
							span Step 2 of 3 - Practice test days
					.test-inner.narrow
						h4.test-subtitle
							span Practice test days
						.practice-schedule-text
							p.test-subtitle.small Preparing for the ISEE is like preparing for a marathon. You wouldn’t wait until the big day to try running a marathon for the first time!
							p.test-subtitle.small &nbsp;
							p.test-subtitle.small With 15 weeks left until your test, we recommend that you take at least 6 full practice tests (set aside 3-4 hours each) before test day.
							p.test-subtitle.small For more information on planning your practice, you can checkout our Tips and Strategies section.
						.practice-schedule-rows
							.practice-schedule-row
								.blue-icon.reverse
									svg
										use(xlink:href="#badge")
								h5.practice-schedule-title Practice test 1
								.practice-schedule-date
									g-input(type='date' classname='input-date' value='February 19, 2022')
								.practice-schedule-date
									g-select(
										title='8:00 AM'
										items=[
											{'text': '4:00 PM', 'value': '4:00', 'active': true},
											{'text': '5:00 PM', 'value': '5:00'},
											{'text': '6:00 PM', 'value': '6:00'},
											{'text': '7:00 PM', 'value': '7:00'},
											{'text': '8:00 PM', 'value': '8:00'},
										]
										classname='g-select-gray'
										).select
								button.remove-btn
									span Remove
									svg
										use(xlink:href='#close')
							.practice-schedule-row
								.blue-icon.reverse
									svg
										use(xlink:href="#badge")
								h5.practice-schedule-title Practice test 2
								.practice-schedule-date
									g-input(type='date' classname='input-date' value='March 5, 2022')
								.practice-schedule-date
									g-select(
										title='8:00 AM'
										items=[
											{'text': '4:00 PM', 'value': '4:00', 'active': true},
											{'text': '5:00 PM', 'value': '5:00'},
											{'text': '6:00 PM', 'value': '6:00'},
											{'text': '7:00 PM', 'value': '7:00'},
											{'text': '8:00 PM', 'value': '8:00'},
										]
										classname='g-select-gray'
										).select
								button.remove-btn
									span Remove
									svg
										use(xlink:href='#close')
							.practice-schedule-row
								.blue-icon.reverse
									svg
										use(xlink:href="#badge")
								h5.practice-schedule-title Practice test 3
								.practice-schedule-date
									g-input(type='date' classname='input-date' value='March 19, 2022')
								.practice-schedule-date
									g-select(
										items=[
											{'text': '4:00 PM', 'value': '4:00', 'active': true},
											{'text': '5:00 PM', 'value': '5:00'},
											{'text': '6:00 PM', 'value': '6:00'},
											{'text': '7:00 PM', 'value': '7:00'},
											{'text': '8:00 PM', 'value': '8:00'},
										]
										classname='g-select-gray'
										).select
								button.remove-btn
									span Remove
									svg
										use(xlink:href='#close')
							.practice-schedule-row
								.blue-icon
									svg
										use(xlink:href="#badge")
								h5.practice-schedule-title Your ISEE Date
								.practice-schedule-date
									span Saturday, May 7, 2022
						button.button-lightblue
							svg.button-icon
								use(xlink:href='#plus')
							span Schedule more practice tests
					.test-footer
						.pagination.pagination-top
							.pagination-info
								span 3 steps
							.pagination-links
								a(href='./student-practice-schedule.html').pagination-link.done
									svg
										use(xlink:href='#checkmark')
								a(href='./student-practice-schedule-2.html').pagination-link.active
									span 2
								a(href='./student-practice-schedule-3.html').pagination-link
									span 3
						a(href='./student-practice-schedule.html').button
							span Back
						a(href='./student-practice-schedule-3.html').button-blue
							span Next
